rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Setiap file foto disimpan di path: photos/{userId}/{fileName}
    // Hanya user yang terautentikasi dan memiliki UID yang cocok dengan folder {userId} yang diizinkan mengakses (baca, tulis, hapus)
    match /photos/{userId}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
